.button {
	position: relative;
	display: inline-flex;
	vertical-align: middle;
	text-align: center;
	box-sizing: border-box;
	align-items: center;
	justify-content: center;
	text-decoration: none !important;
	outline: none;
	-webkit-appearance: none;
	border: none;
	cursor: pointer;
	user-select: none;
	background-color: transparent;
	font-family: Roboto, sans-serif;
	font-weight: 400;
	font-size: 1rem;
	text-transform: uppercase;
	color: #fff;
	margin-bottom: 1rem;
    border-radius: 0.3rem;
    padding: 0.3rem 0.6rem;

    &::before {
        content: "";
        position: absolute;
        bottom: -1px;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        opacity: 0;
        background-color: currentColor;
        transition: height 1s cubic-bezier(0.65, 0.05, 0.41, 0.56), opacity 1s cubic-bezier(0.65, 0.05, 0.41, 0.56);
    }

    &:hover:before, 
    &:focus:before {
        height: 2px;
        opacity: 1;
    }

    &._box {
        background-color: #9330ff;
        &::before {display: none;
            float:left;
            margin:0.6rem;
            margin-top:0;
        }
    }

    &._box-underline {
        color: #9330ff;
        border: 1px solid #9330ff;
        &::before {display: none;}
    }


}
    .bg-violet{
    background-color:#9330ff;
    }
    .text-white{
    color:white;
    }
    .text-violet{
    color:#9330ff;;
    }
    .bg-white{
    background-color:white;
    border: 1px solid black;
    }
    .float-left{
        float:left;margin:0.6rem;
        margin-top:0;
    }
    .float-right{
        float:right;
    }
    .ml-1{
        margin-left: 1rem;
    }
    .p-1{
        padding: 1rem;
    }
    .w-20{
        width:20rem;
    }
    .text-center{
        text-align: center;
    }
    .box {
        display: flex;
        align-items: center;
        justify-content: center;
        height:30rem;
      }
